body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.person a:hover{
  text-decoration: none;
}

.d-b {
  font-weight: bold;
}

.m-b-1{
  margin-bottom: 10px;
}

.m-b-2{
  margin-bottom: 20px;
}

.keyskills{
  border: 2px solid;
    border-radius: 20px;
    padding: 6px 10px;
    margin: 4px;
    font-size: 20px;
    /* background: #9e9e9e; */
    /* color: white; */
    font-weight: bold;
}

.proj-b{
  font-weight: 700;
}

.proj-b a{
  font-size: 20px;
  font-weight: normal;
  color: darkgoldenrod;
  text-decoration: none;
}

.proj-b a:hover{
  color: darkgoldenrod;
  text-decoration: none;
}

.intern-certi{
  font-size: 20px;
  font-weight: normal;
  color: darkgoldenrod;
  text-decoration: none;
}

.intern-certi:hover{
  color: darkgoldenrod;
  text-decoration: none;
}